*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  font-family: 'Fredoka', sans-serif;
  background-image: url(./assets/images/2.png);
  background-size: cover;
  background-position: center;
}